.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #0a0a0a;
    padding: 10px;
  }
  
  .grid-container > div {
    /* background-color: rgba(245, 211, 211, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / 8;
    background-color: rgb(19, 247, 152);
    color: #0a0a0a;
  }
  
  .item2{
  grid-row: 2 / 8;
  background-color: lime;
  
  }
  
  .item3{
  grid-column: 2 / 7;
  grid-row: 2 / 4;
  background-color: blue;
  }

  .item4{
    background-color: rgb(228, 61, 61);
    grid-row: 2 / 5;
  }
  
  .item5{
    grid-column: 2 / 3;
    background-color: rosybrown;
    
  }

  .item6{
    grid-column: 3 / 7;
    background-color: rosybrown;

  }

  .item7{
    background-color: rosybrown;

  }

  .item8{
    grid-column: 3 / 4;
    background-color: rgb(243, 85, 85);

  }

  .item9{
    grid-column: 4 / 8;
    background-color: rosybrown;

  }

  .item10{
    grid-column: 2 / 8;
    background-color: chartreuse;
  }